.header {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: x-large;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    margin: 10px 20px;
    color: var(--primary-text) !important;
    cursor: pointer;
    text-decoration: none;
    font-size: large;
}

button {
    background-color: var(--secondary);
    color: var(--secondary-text);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.user-name {
    padding: 5px;
    font-weight: bold;
}