.header {
    background-color: var(--lightpink) !important;
    padding: 10px;
    font-size: large;
}

.menu-item {
    margin: 10px 20px;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}